{% extends "enis/base.html" %}
{% block content %}
<div class="main">
  <h1>Contact Information</h1>
  <h3>Mail</h3>
  <p>Enis Afgan<br />
  187 Grattan St<br />
  Carlton, Melbourne<br />
  Victoria 3010
  Australia<br />
  <!--<p>Enis Afgan<br />-->
  <!--I. Krilo, #217<br />-->
  <!--Bijenička 54<br />-->
  <!--10000 Zagreb-->
  <!--Croatia<br />-->
  <!--</p>-->
  <h3>Phone</h3>
 <!--<p>++ 385 (99) 200 85 85</p>-->
 <p>++ 060 (40) 217 52 19</p>

 <h3>Email</h3>
 <p>enis.afgan@irb.hr</p>
</div>

<div id="footer">
<p>Last updated: June 18, 2012.</p>
</div>
{% endblock %}
