{% extends "enis/base.html" %}
{% block content %}
<div class="main">
  <h1>Contact Information</h1>
  <!-- <h3>Mail</h3> -->
  <!-- <p>Enis Afgan<br /> -->
  <!-- 355 Homeland Southway<br /> -->
  <!-- Baltimore, MD 21212<br /> -->
  <!-- USA<br /> -->
  <!--<p>Enis Afgan<br />-->
  <!--I. Krilo, #217<br />-->
  <!--Bijenička 54<br />-->
  <!--10000 Zagreb-->
  <!--Croatia<br />-->
  <!--</p>-->

 <h3>Email</h3>
 <p>enis.afgan@gmail.com</p>

 <h3>LinkedIn</h3>
 <p>
  <a href="http://www.linkedin.com/in/afgane" target="_blank">
    Profile - linkedin.com/in/afgane
  </a>
 </p>

 <h3>Phone</h3>
 <!--<p>++ 385 (99) 200 85 85</p>-->
 <p>++1 678 561 3647</p>
</div>

<div id="footer">
<p>Last updated: Sep 9, 2014.</p>
</div>
{% endblock %}
