<a href="{% url enis_home %}"><img style="margin: 0 10px -1px 0;" 
    src="{{ STATIC_URL }}images/EnisAfgan_small.jpg" /></a>
<h1 style="display:inline">Enis Afgan, Ph.D.</h1>

<ul id="nav">
    <li><a href="/enis/">Home</a></li>
    <li><a href="/enis/publications/">Publications</a></li>
    <li><a href="{{ STATIC_URL}}docs/EnisAfgan_CurriculumVitae.pdf"
        class="tooltip" title="In PDF format">CV</a></li>
    <li><a href="/enis/projects/">Projects</a></li>
    <li><a href="/enis/contact/">Contact</a></li>
</ul>
