{% extends "enis/base.html" %}
{% block header %}
<h1>Enis Afgan, Ph.D.</h1>

<ul id="nav">
    <li><a href="index.html">Home</a></li>
    <li><a href="publications/">Publications</a></li>
    <li><a href="{{ STATIC_URL}}docs/EnisAfgan_CurriculumVitae.pdf"
        class="tooltip" title="In PDF format">CV</a></li>
    <li><a href="projects/">Projects</a></li>
    <li><a href="contact/">Contact</a></li>
</ul>
{% endblock %}
{% block index-content %}
<div class="content">

    <div class="main">
    <div class="cols">
        <div class="col1 indent2"><img src="{{ STATIC_URL}}images/EnisAfgan.jpg" 
            alt="Enis Afgan" /></div>
        <div class="col2 indent1">
            <p>I am a research scientist in the <a href="http://www.irb.hr/en/cir/" 
                target="_blank">Center for Informatics and Computing</a> at
            <a href="http://www.irb.hr/eng" target="_blank">Ruđer Bošković Institute (RBI)</a>.
            I am also affiliated with the
              <a href="http://bx.mathcs.emory.edu/" target="_blank">Taylor Lab</a>
              at <a href="http://www.emory.edu">Emory University</a> and the
              <a href="http://wiki.g2.bx.psu.edu/" target="_blank">Galaxy project</a>.
              As part of ongoing collaboration, I am currently at the 
              <a href="http://vlsci.org.au/">Victorian Life Science Computation Initiative (VLSCI)</a>
              at the <a href="http://unimelb.edu.au">University of Melbourne</a>
              where I am the technical lead for setting up the
              <a href="https://www.nectar.org.au/genomics-virtual-laboratory">national Genomics Virtual Laboratory</a>.</p>
          <p>The focus of my current work is in the area of 
              <a href="http://www.youtube.com/v/QJncFirhjPg&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6" class="popup flash" rel="width:480;height:385">
              cloud computing</a>. More specifically, I am working on the
              <a href="http://www.usecloudman.org">CloudMan project</a> 
              with the goal of establishing complete (bioinformatics) 
              analysis environments on cloud computing resources. General 
              aims of this effort are to enable domain scientists to perform 
              needed computations without restrictions of locally or publicly 
              available compute resources.</p>
          <p>Overall, my research interests lay in the area of distributed computing accessibility, application optimization methods, and application jobs performance tuning.</p>
        </div>
    </div>

    </div>

    <div class="secondary"></div>

    <div class="tertiary"></div>

</div>  

<div id="footer">
    <p>Last updated: June 18, 2012</p>
</div>

{% endblock %}
