{% extends "enis/base.html" %}
{% block content %}
<div class="main">
  <h1>Publications</h1>
  <h5>Journal Papers </h5>
  <ul>
      <li>Afgan E., Chapman B., Jadan M., Franke V., Taylor J., "Using Cloud Computing Infrastructure with CloudBioLinux, CloudMan, and Galaxy," Current Protocols in Bioinformatics, Unit 11.9, 2012. [<a href="http://onlinelibrary.wiley.com/doi/10.1002/0471250953.bi1109s38/full" target="_blank">Open Access</a>]</li>
  </ul>
  <ul>
      <li>Afgan E., Baker D., Coraor C., Goto H., Paul M., Makova K., Nekrutenko A., Taylor J., “Harnessing cloud computing with Galaxy Cloud,” Nature Biotechnology, vol 29, 2011. [<a traget="_blank" href="http://www.nature.com/nbt/journal/v29/n11/full/nbt.2028.html">NB</a>]</li>
  </ul>
  <ul>
      <li>Afgan E., Baker D., Taylor J., “A Reference Model for Deploying Applications in Virtualized Environments,” Concurrency and Computation: Practice and Experience, first published online, 2011. [<a target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1002/cpe.1836/full">CCPE</a>]</li>
  </ul>
  <ul>
      <li>H. Goto, B. Dickins, E. Afgan, I. M. Paul, J. Taylor, K. D. Makova, and A. Nekrutenko, "Dynamics of mitochondrial heteroplasmy in three families investigated via a repeatable re-sequencing study," Genome Biology, vol. 12, issue R59, 2011. [<a target="_blank" href="http://genomebiology.com/2011/12/6/R59/abstract">Open Access</a>]</li>
  </ul>
  <ul>
      <li>Afgan E., Bangalore P., Skala T., "Scheduling and Planning Job Execution of Loosely Coupled Applications," Journal of Supercomputing, Online First, Feb 2011. [<a target="_blank" href="http://www.springerlink.com/content/91t541270tv2l656/">PDF</a>]</li>
  </ul>
  <ul>
      <li>Afgan E., Bangalore P., Skala K., “Application Information Services for Distributed Computing Environments”, Journal of Future Generation Computer Systems, Volume 27, Issue, 2, p. 173-181, 2011. [<a target="_blank" href="http://dx.doi.org/10.1016/j.future.2010.08.004">PDF</a>]</li>
  </ul>
  <ul>
    <li> Afgan E., Baker D., Coraor N., Chapman B., Nekrutenko A., Taylor J., &quot;Galaxy CloudMan: Delivering Cloud Compute Clusters,&quot; BMC Bioinformatics, Vol 11, Issue 12, 2010. [<a target="_blank" href="http://www.biomedcentral.com/1471-2105/11/S12/S4">PDF</a>]</li>
  </ul>
  <ul>
    <li> Afgan E., Bangalore P., &quot;Exploiting Performance   Characterization of BLAST in the Grid,&quot; The   Journal of Cluster Computing, Volume 13, Issue 4, pp. 385-395, 2010. [<a target="_blank" href="http://www.springerlink.com/content/y8p83x801450u364/fulltext.pdf">PDF</a>]</li>
  </ul>
  <ul>
    <li> Afgan E., Bangalore P., &quot;Dynamic BLAST – a Grid Enabled BLAST,&quot; The International Journal of Computer Science and Network Security,   Volume 9, Issue 4, p.9, 2009. [<a linkindex="56" target="_blank" href="http://www.cis.uab.edu/afgane/media/DynamicBLAST.pdf" title="http://www.cis.uab.edu/afgane/media/DynamicBLAST.pdf" rel="nofollow">PDF</a>]</li>
  </ul>
  <h5>Book Chapters </h5>
  <ul>
      <li>Afgan E., J. Goecks, D. Baker, N. Coraor, the Galaxy Team, A. Nekrutenko, and J. Taylor, "Galaxy - a Gateway to Tools in e-Science," in <em>Guide to e-Science: Next Generation Scientific Research and Discovery </em>, K. Yang, Ed., ed: Springer, 2011, p. 145-177. [<a linkindex="57" href="http://userwww.service.emory.edu/~eafgan/content/Galaxy_eScienceGateway.pdf" title="Galaxy eScience Gateway" rel="nofollow">PDF</a>] [<a href="http://www.springerlink.com/content/x725qk571lv53845/" target="_blank">Book</a>]</li>
  </ul>
  <ul>
    <li> Afgan E., Bangalore P., Gray J., “A Domain-Specific Language   for Describing Grid Applications”, in <em>Software Applications:   Concepts, Methodologies, Tools, and Applications</em>, Pierre F. Tiako   (Eds), IGI Global Publishers, 2009. (derived from original publication) [<a linkindex="57" href="http://www.igi-global.com/reference/details.asp?id=34295" title="http://www.igi-global.com/reference/details.asp?id=34295" rel="nofollow">Publisher's Website</a>] </li>
  </ul>
  <ul>
    <li> Afgan E., Bangalore P., “A framework to assist users with   planning and scheduling jobs on the grid”, in <em>Handbook of Research on Grid Technologies and Utility Computing: Concepts for Managing Large-Scale Applications</em>, Udoh E., Wang F. (Eds), IGI Global Publishers, 2009. [<a linkindex="57" href="http://www.igi-global.com/reference/details.asp?id=34295" title="http://www.igi-global.com/Bookstore/TitleDetails.aspx?TitleId=473" rel="nofollow">Publisher's Website</a>]</li>
  </ul>
  <ul>
    <li> Afgan E., Bangalore P., Gray J., “Configuring Grid Applications   from Higher Level Domain-Specific Languages”, in <em>Designing   Software-Intensive Systems: Methods and Principles</em>, Pierre F. Tiako   (Eds), IGI Global Publishers, 2008, pp. 402-438. [<a href="http://www.amazon.com/Designing-Software-Intensive-Systems-Principles-Reference/dp/1599046997/ref=sr_1_1?ie=UTF8&amp;s=books&amp;qid=1217013424&amp;sr=8-1" title="http://www.amazon.com/Designing-Software-Intensive-Systems-Principles-Reference/dp/1599046997/ref=sr_1_1?ie=UTF8&amp;s=books&amp;qid=1217013424&amp;sr=8-1" rel="nofollow">View on amazon.com</a>] </li>
  </ul>
  <h5>Conference Proceedings </h5>
  <ul>
      <li>Afgan E., Bangalore P., Duncan D., “GridAtlas - A Grid Application and Resource Configuration Repository and Discovery Service”, Int. Conference on Cluster Computing, New Orleans, LA, pp.1-10, August 31-September 4, 2009. <a href="http://userwww.service.emory.edu/~eafgan/content/papers/FINAL_GridAtlas.pdf">PDF</a></li>
  </ul>
  <ul>
    <li> Bangalore P., Afgan E., &quot;G-BLAST: A Grid Service for BLAST&quot;,   2008 International Conference on Grid Computing and Applications (GCA   '08), Las Vegas, NV, July 14-17, 2008. <a linkindex="59" href="http://www.cis.uab.edu/afgane/research/FINAL_G-BLAST_GCA08.pdf" title="http://www.cis.uab.edu/afgane/research/FINAL_G-BLAST_GCA08.pdf" rel="nofollow">PDF</a> </li>
  </ul>
  <ul>
    <li> Afgan E., Bangalore P., “Application Specification Language   (ASL) - A Language for Describing Applications in Grid Computing”, 4th   International Conference on Grid Service Engineering and Managemen (GSEM   2007), Leipzig, Germany, Sept. 24-26, 2007. <a linkindex="59" href="http://www.cis.uab.edu/afgane/research/ASL_paper.pdf" title="http://www.cis.uab.edu/afgane/research/ASL_paper.pdf" rel="nofollow">PDF</a> </li>
  </ul>
  <ul>
    <li> Afgan E., Bangalore P., “Performance Characterization of BLAST   on the Grid”, IEEE 7th International Symposium on Bioinformatics &amp;   Bioengineering (IEEE BIBE 2007), Boston, MA, Oct 14-17, 2007. <a linkindex="59" href="http://www.cis.uab.edu/afgane/research/UnderstandingBLASTparameterization.pdf" title="http://www.cis.uab.edu/afgane/research/UnderstandingBLASTparameterization.pdf" rel="nofollow">PDF</a> </li>
  </ul>
  <ul>
    <li> Afgan E., Sathyanarayana P., Bangalore P., “Dynamic Task   Distribution in the Grid for BLAST”, IEEE GrC 2006, Atlanta, GA, May   10-12, 2006. <a linkindex="59" href="http://www.cis.uab.edu/afgane/research/DynamicBLAST.pdf" title="http://www.cis.uab.edu/afgane/research/DynamicBLAST.pdf" rel="nofollow">PDF</a> </li>
  </ul>
  <ul>
    <li> Afgan E., Jones W., “Design, Development and Usage of a Generic   Job Submission Grid Service”, 44th ACM Southeast Conference. Melbourne,   FL, March 10-12, 2006. <a linkindex="59" href="http://www.cis.uab.edu/afgane/research/DesignAndDevelopmentOfAGenericJobSubmissionGridService.pdf" title="http://www.cis.uab.edu/afgane/research/DesignAndDevelopmentOfAGenericJobSubmissionGridService.pdf" rel="nofollow">PDF</a> </li>
  </ul>
  <ul>
    <li> Afgan E., Velusamy V., Bangalore P., “Grid Resource Broker with   Application Profiling and Benchmarking”, European Grid Conference.   Amsterdam, Netherlands, Feb. 14-16, 2005. <a linkindex="59" href="http://www.cis.uab.edu/afgane/research/GridResourceBrokerWithApplicationBenchmarking.pdf" title="http://www.cis.uab.edu/afgane/research/GridResourceBrokerWithApplicationBenchmarking.pdf" rel="nofollow">PDF</a> <a linkindex="59" href="http://www.cis.uab.edu/afgane/research/GridResourceBrokerWithApplicationBenchmarkingPoster.pdf" title="http://www.cis.uab.edu/afgane/research/GridResourceBrokerWithApplicationBenchmarkingPoster.pdf" rel="nofollow">Poster</a> </li>
  </ul>
  <ul>
    <li> Afgan E., “Role of the Resource Broker in the Grid”. 42 nd   Annual ACM Southeast Conference. Huntsville, AL, Apr. 2-3, 2004. <a linkindex="59" href="http://www.cis.uab.edu/afgane/research/Role%20of%20the%20Resource%20Broker%20in%20the%20Grid.pdf" title="http://www.cis.uab.edu/afgane/research/Role%20of%20the%20Resource%20Broker%20in%20the%20Grid.pdf" rel="nofollow">PDF</a> </li>
  </ul>
<h5>  Refereed Workshop Papers </h5>
  <ul>
    <li> Afgan E., Bangalore P., &quot;Embarrassingly Parallel Jobs Are Not   Embarrassingly Easy to Schedule on the Grid&quot;, SC08 International   Conference for High Performance, Networking, Storage and Analysis -   Workshop on Many-Task Computing on Grids and Supercomputers, Austin, TX,   November 15-21, 2008. <a linkindex="60" href="http://www.cis.uab.edu/afgane/research/EPJScheduling.pdf" title="http://www.cis.uab.edu/afgane/research/EPJScheduling.pdf" rel="nofollow">PDF</a> </li>
  </ul>
  <ul>
    <li> Afgan E., Bangalore P., &quot;Experiences with developing and   deploying Dynamic BLAST&quot;, Mardi Gras Conference 2008 - Workshop on   Grid-Enabling Applications, New Orleans, LA, January 31-February 2,   2008. <a linkindex="60" href="http://www.cis.uab.edu/afgane/research/ExperiencesWithDynamicBLAST.pdf" title="http://www.cis.uab.edu/afgane/research/ExperiencesWithDynamicBLAST.pdf" rel="nofollow">PDF</a> </li>
  </ul>
  <ul>
    <li> Afgan E., Gray J., Bangalore P., “Using Domain-Specific   Modeling to Generate User Interfaces for Wizards”, MDDAUI '07 as part of   MODELS 2007, Nashville, TN, Sept. 30-October 5, 2007. <a linkindex="60" href="http://www.cis.uab.edu/afgane/research/final_revised_uab-mdduai.pdf" title="http://www.cis.uab.edu/afgane/research/final_revised_uab-mdduai.pdf" rel="nofollow">PDF</a> <a linkindex="60" href="http://www.cis.uab.edu/afgane/research/final_generatingWizards_PPT.pdf" title="http://www.cis.uab.edu/afgane/research/final_generatingWizards_PPT.pdf" rel="nofollow">Presentation in PDF</a> </li>
  </ul>
  <ul>
    <li> Afgan E., Bangalore P., “Computation Cost in Grid Computing   Environments”, First International Workshop on the Economics of Software   and Computation, Minneapolis, Minnesota, May 20, 2007. <a linkindex="60" href="http://www.cis.uab.edu/afgane/research/ComputationCostInGridComputing.pdf" title="http://www.cis.uab.edu/afgane/research/ComputationCostInGridComputing.pdf" rel="nofollow">PDF</a></li>
</ul>
</div>

<div id="footer">
<p>Last updated: June 18, 2012.</p>
</div>
{% endblock %}
