{% extends "base.html" %}
{% block content %}
<div class="content-strip-header">
    <h2>{{ object.title }}</h2>
    <span class="right published">
        Added: {{ object.pub_date|date:"d M Y" }}
    </span>
</div>
<div class="content-strip" style="margin-top: 10px;">
     {{ object.body_html|safe }}
</div>
{% if object.get_tags %}
    <div class="tags">
        Tags:
        {% for tag in object.get_tags %}
            <a href="/blog?{{tag.name|slugify}}">{{ tag }}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </div>
{% endif %}
<div class="pagination">
    <div class="content-strip-footer">
        {% if object.get_previous_published %}
            <a href="/blog{{ object.get_previous_published.get_absolute_url }}"
                title="{{object.get_previous_published.title}}">« Previous</a>
        {%endif%}
        | <a href="{% url blog %}">All posts</a> |
        {% if object.get_next_published %}
            <a href="/blog{{ object.get_next_published.get_absolute_url }}"
                title="{{object.get_next_published.title}}">Next »</a>
        {%endif%}
    </div>
</div>
{% endblock %}
