{% extends "base.html" %}
{% load tagging_tags %}
{% block content %}
<div id="tagline">
    CloudMan's <em>features and uses</em>
</div>
<div class="desctxt">
    This page talks about CloudMan, its features, and potential uses. CloudMan
    is a cloud manager that orchestrates and manages a cloud infrastructure
    allowing one to simply use the underlying infrastructure. It is primarily
    being used in the context of Galaxy Cloud and CloudBioLinux but it can be
    used for any purpose where a cluster in a cloud is desired. Read on about
    descriptions of specific features.
</div>
<div id="toc-container">
    <div id="toc">
        <span id="subtag" style="padding-left: 10px">List of topics</span>
        <ul>
        {% for object in object_list %}
        <li>
            <a href="/blog{{object.get_absolute_url}}">
                {{ object.title|truncatechars:27 }}</a>
        </li>
        {% endfor %}
    </ul>
    </div>
</div>
{% for object in object_list %}
    <div class="content-strip" style="margin: 10px 0;">
        <div class="content-strip-header">
            <a href="/blog{{object.get_absolute_url}}">
                <h2 style="padding-left: 0;">{{ object.title }}</h2>
            </a>
            <div class="right published">Added: {{ object.pub_date|date:"d M Y" }}</div>
        </div>
        {{ object.body_html|safe }}
        {% if object.get_tags %}
            <div class="tags">
                Tags: {% for tag in object.get_tags %}
                    <a href="/blog?tag={{tag.name|slugify}}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}
{# Add pagination #}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    </span>
    <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
    </span>
    <span class="page-links">
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

