{% extends "base.html" %}
{% load tagging_tags %}
{% block content %}
<div id="tagline">
    CloudMan's <em>features and uses</em>
</div>
{% for object in object_list %}
    <div class="content-strip" style="margin: 10px 0;">
        <div class="content-strip-header">
            <a href="/blog{{object.get_absolute_url}}">
                <h2 style="padding-left: 0;">{{ object.title }}</h2>
            </a>
            <div class="right published">Added: {{ object.pub_date|date:"d M Y" }}</div>
        </div>
        {{ object.body_html|safe }}
        {% if object.get_tags %}
            <div class="tags">
                Tags: {% for tag in object.get_tags %}
                    <a href="/blog?tag={{tag.name|slugify}}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}
{# Add pagination #}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    </span>
    <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
    </span>
    <span class="page-links">
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

