<!DOCTYPE html PUBLIC "-//IETF//DTD HTML//EN">
<html><script type="text/javascript">window["_gaUserPrefs"] = { ioo : function() { return true; } }</script><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>The CloudMan Project: Cloud clusters for everyone</title>

  <link href="{{ STATIC_URL }}css/style.css" media="screen" rel="Stylesheet" type="text/css">

  <script type="text/javascript">
      var disqus_shortname = 'usecloudman';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
</head>
<body>

<div id="everything">
    {% include "header.html" %}

    <div id="content">
        <div class="titles">
            Papers
        </div>
        <div class="pubs">
            <ul>
                <li>Afgan E., Baker D., Coraor N., Goto H., Paul I.M, Makova K.D.,
                    Nekrutenko A., Taylor J., &quot;Harnessing cloud computing
                    with Galaxy Cloud,&quot; Nature Biotechnology, Vol 29, Issue 11, 2011.
                    [<a target="_blank" href="http://www.nature.com/nbt/journal/v29/n11/full/nbt.2028.html">NB</a>]
                </li>
                <li>
                    Afgan E., Baker D., Taylor J., “A Reference Model for Deploying
                    Applications in Virtualized Environments,” 
                    Concurrency and Computation: Practice and Experience, first 
                    published online, 2011.
                    [<a target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1002/cpe.1836/full">CCPE</a>]
                </li>
                <li>Goto H., Dickins B., Afgan E., Paul I. M., Taylor J.,
                    Makova K. D., and Nekrutenko A., "Dynamics of mitochondrial
                    heteroplasmy in three families investigated via a repeatable
                    re-sequencing study," Genome Biology, vol. 12, issue R59, 2011.
                    [<a target="_blank" href="http://genomebiology.com/2011/12/6/R59/abstract">Open Access</a>]
                </li>
                <li>Afgan E., Baker D., Coraor N., Chapman B., Nekrutenko A., Taylor J., &quot;Galaxy CloudMan: Delivering Cloud Compute Clusters,&quot; BMC Bioinformatics, Vol 11, Issue 12, 2010. [<a target="_blank" href="http://www.biomedcentral.com/1471-2105/11/S12/S4">PDF</a>]</li>
                <li>Afgan E., Goecks J., Baker D., Coraor N., the Galaxy Team,
                    Nekrutenko A., and Taylor J., "Galaxy - a Gateway to Tools
                    in e-Science," in <em>Guide to e-Science: Next Generation
                    Scientific Research and Discovery </em>, K. Yang, Ed., ed:
                    Springer, 2011, p. 145-177. [<a linkindex="57"
                    href="http://userwww.service.emory.edu/~eafgan/content/Galaxy_eScienceGateway.pdf" 
                    title="Galaxy eScience Gateway" rel="nofollow">PDF</a>] 
                    [<a href="http://www.springerlink.com/content/x725qk571lv53845/" 
                    target="_blank">Book</a>]
                </li>
            </ul>
        </div>
        <div class="titles">
            Presentations
        </div>
        <div class="pubs">
            <ul>
				<li>"<a href="http://www.bio-itworldasia.com/cla" target="_blank">Dynamically Scalable, Accessible Analysis with Galaxy Cloud</a>", Bio-IT World Asia, Singapore, June 6-8, 2012.</li>
				<li>"Porting CloudMan to the NeCTAR Research Cloud", <a href="http://www.its.unimelb.edu.au/research/cloud/forum/rc_forum_apr_2012" target="_blank">NeCTAR Research Cloud Forum</a>, Melbourne, AU, April 12, 2012.
			  	  [<a href="http://usecloudman.org/presentations/CM_on_NeCTAR.pdf">PDF</a>]
			  </li>
			  <li>"<a href="http://pag.confex.com/pag/xx/webprogram/Paper4623.html" target="_blank">The Galaxy Platform: Running Analyses in the Cloud</a>", PAG 2012, San Diego, CA, January 16-18, 2012. (live demo)
			  </li>
              <li>"Enabling NGS Analysis with(out) the Infrastructure", Bioinformatics Open Source Conference (BOSC), Vienna, July 15-16, 2011. 
                  [<a href="http://userwww.service.emory.edu/~eafgan/content/CloudMan_EnisAfgan_BOSC2011abstract.pdf">Abstract</a>]
                  [<a href="http://userwww.service.emory.edu/~eafgan/content/ppt/CloudMan_EnisAfgan_BOSC2011.pdf">PDF</a>]
              </li>
              <li>"CloudMan: Galaxy on the Cloud", Galaxy Community Conference, Lunteren, the Netherlands, May 26, 2011. [<a href="http://wiki.g2.bx.psu.edu/GCC2011?action=AttachFile&do=get&target=CloudManGalaxyOnTheCloud.pdf">PDF</a>]</li>
              <li>"Dynamically Scalable, Accessible Analysis for High-Throughput Sequence Data", Bio-IT World, Boston, MA, April 13, 2011. [<a href="./content/ppt/EnisAfgan_CloudMan_BioIT_2011.pdf">PDF</a>]</li>
              <li>"NGS Analyses with Galaxy on the Cloud", Intelligent Systems for Molecular Biology, Boston, MA, July 12, 2010. (live demo)</li>
              <li>"Deploying Galaxy on the Cloud", Bioinformatics Open Source Conference (BOSC), Boston, MA, July 9, 2010. [<a href="./content/ppt/EnisAfgan_BOSC_2010.pdf">PDF</a>]</li>
              <!-- <li>"Deploying Galaxy on the Cloud", Galaxy Developer's Conference, Cold Spring Harbor, NY, May 15-17, 2010. [<a href="./content/ppt/EnisAfgan_GConCloud_2010.pdf">PDF</a>]</li> -->
              <li>"Discovery of human heteroplasmic sites enabled by an accessible interface to Cloud-computing infrastructure", Biology of Genomes, Cold Spring Harbor, NY, May 11-15, 2010. (presented by <a href="http://jamestaylor.org/" target="_blank">James Taylor</a>) [<a href="http://bx.mathcs.emory.edu/outgoing/Taylor_BiologyOfGenomes_2010.pdf">PDF</a>]</li>
            </ul>
        </div>

        <div style="padding-top: 30px" id="disqus_thread"></div>

    </div> <!-- content -->
</div> <!-- everything -->
