<head>
    <title>The CloudMan Project: Cloud clusters for everyone</title>
    <link href="{{ STATIC_URL }}css/style.css" media="screen" rel="Stylesheet" type="text/css">
</head>
<body>
<div id="everything">
    {% include "header.html" %}
    <div id="content">
        <h2>
            Screencasts demonstrating CloudMan features
        </h2>
        - <a href="http://youtu.be/AKu_CbbgEj0">
            The basic and quickest way to start a CloudMan cluster
        </a><br/>
        - <a href="http://screencast.g2.bx.psu.edu/galaxy/mt-cloud/">
            A complete process of starting a CloudMan cluster via the AWS 
            console and using Galaxy to perform an analysis
        </a>
    </div>
</div>
</body>
